<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>


{% extends 'base.html' %}



{% block contents %}
{% if error %}

<pre> {{ error }}</pre>

{% endif %}
    <center>
        <h1>Sign Up ! </h1>
    </center>

    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
        Username:<br/>
    <input type="text" name="username" placeholder="Enter your name "/>

        <br/>
        Password:<br/>
    <input type="password" name="password" placeholder="Enter password"/>
    <br/>
        Confirm Password:
        <br/>
    <input type="password" name="cpassword" placeholder="Confirm password"/>

        <br/><br/>
    <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>

{% endblock %}
</body>
</html>